In [1]:
import pandas as pd

In [2]:
url = "https://api.census.gov/data/2021/acs/acs1/profile?get=group(DP03)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*"
df=pd.read_csv(url)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (73,75,77,81,83,85,87,89,91,93,95,97,99,101,103,137,139,141,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177,179,181,183,185,187,189,191,201,203,205,209,211,213,215,217,219,221,223,225,227,229,231,233,235,237,239,241,243,245,247,249,251,253,257,259,261,263,265,267,269,271,273,275,277,279,281,283,285,287,289,291,293,295,297,299,301,303,305,307,309,311,313,315,317,319,321,323,325,327,329,331,333,335,337,339,341,343,345,347,349,351,353,355,357,359,361,363,365,369,371,373,375,377,379,381,383,385,387,389,391,393,395,397,399,561,563,577,579,705,707,709,721,723,1013,1015) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.head()

,"[[""DP03_0001E""",DP03_0001EA,DP03_0001M,DP03_0001MA,DP03_0001PE,DP03_0001PEA,DP03_0001PM,DP03_0001PMA,DP03_0002E,DP03_0002EA,...,DP03_0137M,DP03_0137MA,DP03_0137PE,DP03_0137PEA,DP03_0137PM,DP03_0137PMA,GEO_ID,NAME,metropolitan statistical area/micropolitan statistical area],Unnamed: 1099
0,"[""372803""",NaN,2320,NaN,372803,NaN,-888888888,(X),233035,NaN,...,-888888888,(X),23.8,NaN,2.8,NaN,310M600US28660,"Killeen-Temple, TX Metro Area",28660],NaN
1,"[""256709""",NaN,1896,NaN,256709,NaN,-888888888,(X),134266,NaN,...,-888888888,(X),32.9,NaN,4.0,NaN,310M600US28700,"Kingsport-Bristol, TN-VA Metro Area",28700],NaN
2,"[""155741""",NaN,759,NaN,155741,NaN,-888888888,(X),93406,NaN,...,-888888888,(X),26.6,NaN,3.7,NaN,310M600US28740,"Kingston, NY Metro Area",28740],NaN
3,"[""56375""",NaN,449,NaN,56375,NaN,-888888888,(X),29519,NaN,...,-888888888,(X),36.0,NaN,5.8,NaN,310M600US28900,"Klamath Falls, OR Micro Area",28900],NaN
4,"[""731743""",NaN,2341,NaN,731743,NaN,-888888888,(X),441887,NaN,...,-888888888,(X),26.7,NaN,2.0,NaN,310M600US28940,"Knoxville, TN Metro Area",28940],NaN

In [ ]:
url =